{% extends "base_generic.html" %}

{% block content %}
<h1>Инвестиционный помощник</h1>

  <p>Данное приложение предназначено для новичков и энтузиастов в инвестировании</p>
<p>своих средств в акции, которые не хотят платить проценты от своей
прибыли</p>
    <p>другим компаниям и хотят заработать на недавном упадке цен на акции
почти</p>
    <p>всех компаний в мире, или им любопытно насколько хорошо может
предсказывать</p>
    <p>будущее искусственный интеллект. Именно для таких людей и
разрабатывается</p>
    <p>данное приложение, которое поможет им с выбором акций для
инвестирования. </p>


{% endblock %}